.header{
  margin: 1rem auto;
  padding: 2.5rem;
  border-radius: 1.5rem;
  background: #c5c5c5;
  max-width: 80rem;
  box-sizing: content-box;
  &__link{
    font-size: 1.8rem;
    line-height: 100%;
    margin-right: 1rem;
  }
}