.layer{
  margin: 1rem auto;
  padding: 2.5rem;
  border-radius: 1.5rem;
  background: rgb(220 220 220 / 80%);
  max-width: 80rem;
  box-sizing: content-box;
  &__top{
    text-align: center;
    padding: 0 0 2.5rem;
    border-bottom: 0.1rem solid #eee;
  }
  &__price{
    font-size: 3.2rem;
    font-weight: 600;
  }
  &__block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding: 2.5rem 0;
    &-info{
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }
  }
  &__pull{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    max-height: 310px;
    overflow: auto;
    padding-right: 0.5rem;

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0);
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(84 84 84 / 20%);
      border-radius: 1rem;
    }

    &::-webkit-scrollbar {
      width: .6rem;
    }

  }
  &__minus{
    .layer__card{
      background: #d8d5d5;
    }
  }
  &__card{
    position: relative;
    display: flex;
    padding: 1.5rem;
    border-radius: 1.5rem;
    background: #ffffff;
    &-content{
      width: 100%;
    }
    &-price{
      font-size: 2rem;
      line-height: 115%;
    }
    &-date{
      font-size: 1.4rem;
      line-height: 115%;
    }
    &-line{
      width: 60%;
      height: .1rem;
      background: #eeeeee;
      margin: 1rem 0;
    }
    &-btn{
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      background: brown;
      color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 0.5rem;
      flex-shrink: 0;
      width: 2rem;
      height: 2rem;
    }
  }

  &__bottom{
    background: #fff;
    border-radius: 1.5rem;
    padding: 1.5rem;
    &-composition{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;
    }
  }
  &__info{
    text-align: center;
    margin-bottom: 1rem;
    &-text{
      font-size: 1.6rem;
      line-height: 115%;
      font-weight: 500;
      color: #a52a2a;
    }
  }
  &__logic{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-tumbler{
      height: 3.5rem;
      width: 3.5rem;
      border: none;
      outline: none;
      border-radius: .5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      &-img{
        transition: .3s;
        max-width: 1.5rem;
        filter: invert(1);
      }
      &._in{
        background: #41bb33;
        border: .1px solid #41bb33;
      }
      &._out{
        background: #a52a2a;
        border: .1px solid #a52a2a;
        .layer__logic-tumbler-img{
          transform: rotate(180deg);
        }
      }
    }
  }
  &__input{
    min-height: 3.5rem;
    width: 100%;
    border: .1px solid #000;
    border-radius: .5rem;
    padding: 0 1rem;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #000;
    &.error{
      border: .1px solid #a52a2a;
    }
    &-block{
      display: flex;
      width: 100%;
      margin-right: .5rem;
    }
  }
  &__actions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    &-btn{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 3.5rem;
      width: 100%;
      border: none;
      border-radius: .5rem;
      outline: none;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 100%;
      &._submit{
        background: #41bb33;
      }
      &._clear{
        background: #a52a2a;
      }
    }
  }
}